.panel-title {
    text-align: center;
}

#loginbox {
    width: 450px;
    margin: 100px auto 0 auto;
}

.form-group {
    margin: 10px;
    text-align: center;
}

.alert {
    width: 80%;
    margin: 5px auto;
}

.input-group {
    width: 80%;
    height: 60px;
    margin: 5px auto;
}
.input-group-addon {
    font-size: 23px !important;
    height: 100%;
}

.input-group .form-control {
    height: 100%;
}

#login-button {
    width: 180px;
    margin: 10px auto;
    height: 50px;
    display: inline-block;
}